#!/usr/bin/env python
PACKAGE = "xian_aqc_params" # 需跟功能包的名称一样
from dynamic_reconfigure.parameter_generator_catkin import *
import json
def ZPMC_Firstlandi_Param(file_path):
    with open(file_path, 'r') as f:
        load_dict = json.load(f)
    f.close()
    return load_dict
load_params = ZPMC_Firstlandi_Param('/root/code/xian_aqc_ws/xian_project_file/parameters/xian_aqc_dynamic_parameters.json')

xian_plc_heart_beat = load_params['xian_plc_heart_beat']
xian_acds_heart_beat = load_params['xian_acds_heart_beat']
xian_aqc_dynamic_param_node_heart_beat = load_params['xian_aqc_dynamic_param_node_heart_beat']
xian_server_simulation_tl_node_heart_beat = load_params['xian_server_simulation_tl_node_heart_beat']
xian_acds_send_to_retrable_box_mode0 = load_params['xian_acds_send_to_retrable_box_mode0']
xian_acds_send_to_retrable_box_mode1 = load_params['xian_acds_send_to_retrable_box_mode1']
xian_acds_send_to_retrable_box_mode2 = load_params['xian_acds_send_to_retrable_box_mode2']
xian_acds_send_to_retrable_box_mode3 = load_params['xian_acds_send_to_retrable_box_mode3']
xian_from_plc_to_retrable_box_mode0 = load_params['xian_from_plc_to_retrable_box_mode0']
xian_from_plc_to_retrable_box_mode1 = load_params['xian_from_plc_to_retrable_box_mode1']
xian_from_plc_to_retrable_box_mode2 = load_params['xian_from_plc_to_retrable_box_mode2']
xian_from_plc_to_retrable_box_mode3 = load_params['xian_from_plc_to_retrable_box_mode3']
xian_retrable_box_state0 = load_params['xian_retrable_box_state0']
xian_retrable_box_state1 = load_params['xian_retrable_box_state1']
xian_retrable_box_state2 = load_params['xian_retrable_box_state2']
xian_retrable_box_state3 = load_params['xian_retrable_box_state3']
xian_accs_ip = load_params['xian_accs_ip']

gen = ParameterGenerator()
gen.add("xian_plc_heart_beat", int_t, 0, "xian plc heart beat", xian_plc_heart_beat, 0, 1000)
gen.add("xian_acds_heart_beat", int_t, 0, "xian acds heart beat", xian_acds_heart_beat, 0, 1000)
gen.add("xian_aqc_dynamic_param_node_heart_beat", int_t, 0, "xian aqc dynamic param node heart beat", xian_aqc_dynamic_param_node_heart_beat, 0, 1000)
gen.add("xian_server_simulation_tl_node_heart_beat", int_t, 0, "xian server simulation tl node heart_beat", xian_server_simulation_tl_node_heart_beat, 0, 1000)
gen.add("xian_acds_send_to_retrable_box_mode0", int_t, 0, "xian acds send to retrable box mode0", xian_acds_send_to_retrable_box_mode0, 0, 10)
gen.add("xian_acds_send_to_retrable_box_mode1", int_t, 0, "xian acds send to retrable box mode1", xian_acds_send_to_retrable_box_mode1, 0, 10)
gen.add("xian_acds_send_to_retrable_box_mode2", int_t, 0, "xian acds send to retrable box mode2", xian_acds_send_to_retrable_box_mode2, 0, 10)
gen.add("xian_acds_send_to_retrable_box_mode3", int_t, 0, "xian acds send to retrable box mode3", xian_acds_send_to_retrable_box_mode3, 0, 10)
gen.add("xian_from_plc_to_retrable_box_mode0", int_t, 0, "xian from plc to retrable box mode0", xian_from_plc_to_retrable_box_mode0, 0, 10)
gen.add("xian_from_plc_to_retrable_box_mode1", int_t, 0, "xian from plc to retrable box mode1", xian_from_plc_to_retrable_box_mode1, 0, 10)
gen.add("xian_from_plc_to_retrable_box_mode2", int_t, 0, "xian from plc to retrable box mode2", xian_from_plc_to_retrable_box_mode2, 0, 10)
gen.add("xian_from_plc_to_retrable_box_mode3", int_t, 0, "xian from plc to retrable box mode3", xian_from_plc_to_retrable_box_mode3, 0, 10)
gen.add("xian_retrable_box_state0", int_t, 0, "xian retrable box state0", xian_retrable_box_state0, 0, 10)
gen.add("xian_retrable_box_state1", int_t, 0, "xian retrable box state1", xian_retrable_box_state1, 0, 10)
gen.add("xian_retrable_box_state2", int_t, 0, "xian retrable box state2", xian_retrable_box_state2, 0, 10)
gen.add("xian_retrable_box_state3", int_t, 0, "xian retrable box state3", xian_retrable_box_state3, 0, 10)
gen.add("xian_accs_ip", str_t, 0, "PLC IP address", xian_accs_ip)


exit(gen.generate(PACKAGE,"xian_aqc_dynamic_parameters_server","xian_aqc_dynamic_parameters"))
# PACKAGE:包的名称；xian_aqc_dynamic_parameters_server：节点的名称,就是server节点的那个节点；xian_aqc_dynamic_parameters：生成的配置文件，跟.cfg文件名称一样即可
