<?xml version="1.0"?>
<launch>
    <node name ="xian_aqc_dynamic_parameters_server" pkg="xian_aqc_params" type="xian_aqc_dynamic_parameters_server"/>
    <node name ="xian_communication_with_plc_node" pkg="xian_communication_pkg" type="xian_communication_with_plc_node"/>
    <node name ="xian_spreader_side_server_ros" pkg="xian_communication_pkg" type="xian_spreader_side_server_ros"/>
    <node name ="xian_error_restart_log" pkg="xian_aqc_utils" type="xian_error_restart_log"/>
    
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    </include>
</launch> 
