<?xml version="1.0"?>
<launch>
    <node name ="xian_aqc_dynamic_parameters_server" pkg="xian_aqc_params" type="xian_aqc_dynamic_parameters_server"/>
    <node name ="xian_image_cop_process" pkg="xian_image_process" type="xian_image_cop_process"/>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    </include>
</launch> 
